:root {
    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
    --font-size: 20px;
}

html {
    font-family: 'Libre Franklin',
        sans-serif;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container img {
    margin-top: 64px;
    margin-bottom: 24px;
    width: 70px;
}

header h1 {
    font-size: 24px;
    font-weight: 300;
    color: var(--gray);
}

header h1 .title-bold {
    font-weight: 700;
    color: var(--very-dark-blue);
}

header p {
    font-size: 14px;
    font-weight: 300;
}



.input-container input {
    margin-top: 14px;
    padding: 12px;
    border-radius: 24px;
    width: 280px;
    border: 1px solid var(--pale-blue);
    outline: 0;
}

::placeholder {
    padding-left: 18px;
    color: var(--gray);
}

.error-message {
    font-size: 12px;
    color: var(--light-red);
    display: none;
}

button {
    margin-top: 12px;
    display: block;
    width: 100%;
    padding: 12px;
    background: var(--blue);
    color: #ffffff;
    border-radius: 24px;
    border: 0;
    -webkit-box-shadow: 2px 10px 12px -2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 10px 12px -2px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 10px 12px -2px rgba(0, 0, 0, 0.25);
    outline: 0;
    cursor: pointer;
    margin-bottom: 24px;
}

button:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease;
    background: hsla(223, 87%, 63%, 0.8);
}

.image-container img {
    width: 320px;
    margin-top: 48px;
}

.icons-container {
    margin-top: 35%;
    margin-bottom: 24px;
}

.icon {
    padding: 8px;
    border-radius: 24px;
    border: 1px solid var(--pale-blue);
    color: var(--blue);
    cursor: pointer;
    margin-right: 12px;
    font-size: var(--font-size);
}

.icon:hover {
    background: var(--blue);
    color: #ffffff;
    transition: all 0.3s ease;
}

.copyright-text {
    font-size: 12px;
    color: var(--gray);
}

@media only screen and (max-width: 320px) {


    .input-container input {
        width: 200px;
    }

    .image-container img {
        width: 250px;
    }

    .icons-container {
        margin-top: 30%;
        margin-bottom: 12px;
    }

    .icon {
        font-size: 18px;
    }

    .copyright-text {
        font-size: 14px;
        color: var(--gray);
    }
}

@media only screen and (min-width: 600px) {

    .logo-container img {
        width: 120px;
    }

    .input-container input {
        width: 350px;
    }

    .image-container img {
        width: 400px;
    }

    .icons-container {
        margin-top: 10%;
        margin-bottom: 12px;
    }

    .icon {
        font-size: 18px;
    }

    .copyright-text {
        font-size: 14px;
        color: var(--gray);
    }
}

@media only screen and (min-width: 1000px) {

    .logo-container img {
        width: 120px;
    }

    .input-container input {
        width: 350px;
    }

    button {
        display: inline-block;
        width: 160px;
        padding: 14px;
    }

    .image-container img {
        width: 500px;
    }

    .error-message {
        text-align: left;
        margin-left: 24px;
        margin-top: 0;
    }

    .icon {
        font-size: 18px;
    }

    .icons-container {
        margin-top: 5%;
        margin-bottom: 12px;
    }


    .copyright-text {
        font-size: 14px;
        color: var(--gray);
    }
}

@media only screen and (min-width: 1300px) {

    header h1 {
        font-size: 32px;
    }

    header p {
        font-size: 18px;
    }

    .input-container input {
        width: 350px;
        padding: 14px;
    }


    button {
        width: 170px;
        padding: 15px;
    }

    .image-container img {
        margin-top: 24px;
        width: 550px;
    }

    .error-message {
        text-align: left;
        margin-left: 24px;
        margin-top: 0;
    }

    .icon {
        font-size: var(--font-size);
    }

    .icons-container {
        margin-top: 1%;
        margin-bottom: 8px;
    }

    .copyright-text {
        font-size: 16px;
        color: var(--gray);
    }

}

@media only screen and (min-width: 1800px) {


    .icons-container {
        margin-top: 5%;
        margin-bottom: 8px;
    }

}